.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.container p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.color-picker, .color-button{
  background-color: white;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-picker{
  width: 20%;
  height: 150px;
  appearance: none;
  border-radius: 100px;
  border-style: solid;
  margin-top: none;
  border-color: black;
  border-width: 2px;
}

.color-picker:hover{
  opacity: .5;
}

.color-picker:active{
  opacity: .3;
}

.color-picker::-webkit-color-swatch{
  border-radius: 100x;
  border: none;
}

.color-picker::-moz-color-swatch {
  border-radius: 100px;
  border: none;
}

.color-button{
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  cursor: pointer;
}

.color-button:hover{
  opacity: 0.5;
}

.color-button:active{
  opacity: .2;
}

p{
  font-family: Tahoma;
  text-shadow: 1px 1px black;
}
